[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
pillow = "*"
django-rest-swagger = "*"
drf-yasg = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.7"
